body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
}

nav {
  height: 100px;
}

main {
  min-height: 100vh;
}

.menu {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #183f3c;
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}

.menu-item a {
  display: block;
  padding: 40px;
  color: #ffffff;
  text-decoration: none;
  font-size: auto;
  align-items: center;
  height: auto;
}

.logo-hotel {
  margin: 0%;
  padding: 0%;
  max-width: 220px;
  margin-right: auto;
  height: auto;
}

.menu-item a:hover {
  background-color: #f98049;
}

section {
  margin-top: 10px;
  margin: 20px;
  padding: 20px;
}

section article {
  margin-top: 50px;
}

.titulo-principal {
  margin-top: 10px;
  padding: 1px;
  display: flex;
  justify-content: center;
  font-family: arial;
}

.card-container {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin: 10px;
  margin-top: 40px;
  text-align: center;
  font-family: arial;
}

.img-do-card {
  width: 100%;
}

.price {
  color: #183f3c;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #333;
}

footer {
  background-color: #183f3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rodape li {
  display: inline;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.rodape_info a {
  text-decoration: none;
  color: #fff;
}

.rodape_info a:hover {
  color: #f98049;
}

.direitosreservados {
  margin: 0;
}

.area-do-calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 10px;
}

.calendario {
  font-size: 25px;
  border: 2px solid #183f3c;
  color: #183f3c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(231, 235, 235 0.5);
}