body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  background-image: url(../img/inicio/hotel-e-logo/hotel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 100px;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #183f3c;
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}

.menu-item a {
  display: block;
  padding: 40px;
  color: #ffffff;
  text-decoration: none;
  font-size: auto;
  align-items: center;
  height: auto;
}

.logo-hotel {
  margin: 0%;
  padding: 0%;
  max-width: 220px;
  margin-right: auto;
  height: auto;
}

.menu-item a:hover {
  background-color: #f98049;
}

section {
  margin-top: 5px;
  margin: 5px;
}

section article {
  margin-top: 50px;
}

.titulo-login {
  padding: auto;
  height: 25px;
}

form {
  width: 300px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-bnt {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input:hover {
  opacity: 0.8;
}

.label {
  display: block;
  margin-right: 0px;
  font-weight: bold;
  text-align: left;
}

.container {
  padding: 16px;
  background-color: #183f3c;
}

.cadastre-se {
  color: white;
}

footer {
  background-color: #183f3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rodape li {
  display: inline;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.rodape_info a {
  text-decoration: none;
  color: #fff;
}

.rodape_info a:hover {
  color: #f98049;
}

.direitosreservados {
  margin: 0;
}

#img-login {
  width: 30%;
  height: auto;
}

.input-email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}