body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100vh;
}

header {
  padding: 20px 0;
}

.menu {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #183F3C;
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}

.menu-item a {
  display: block;
  padding: 40px;
  color: #ffffff;
  text-decoration: none;
  font-size: auto;
  align-items: center;
  height: auto;
}

.logo-hotel {
  margin: 0%;
  padding: 0%;
  max-width: 220px;
  margin-right: auto;
  height: auto;
}

.menu-item a:hover {
  background-color: #F98049;
}

section {
  margin-top: 90px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

article {
  display: flex;
  flex-direction: column;

}



.form-container {
  font-size: 15px;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;

}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  color: black;
  border: 1px solid;
  margin: 0;
}

.enviar {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 110%;

}

input:hover {
  opacity: 0.8;
}



footer {
  position: absolute;
  background-color: #183F3C;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.rodape li {
  display: inline;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.rodape_info a {
  text-decoration: none;
  color: #fff;
}

.rodape_info a:hover {
  color: #F98049;
}

.direitosreservados {
  margin: 0;
}