body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  min-height: 100vh;
}

header {
  padding: 20px 0;
}

.menu {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #183F3C;
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
}

.menu-item a {
  display: block;
  padding: 40px;
  color: #ffffff;
  text-decoration: none;
  font-size: auto;
  align-items: center;
  height: auto;
}

.logo-hotel {
  margin: 0%;
  padding: 0%;
  max-width: 220px;
  margin-right: auto;
  height: auto;
}

.menu-item a:hover {
  background-color: #F98049;
}

section {
  margin-top: 10px;
  margin: 20px;
  padding: 20px;
}

section article {
  margin-top: 50px;
}

/* card*/

.titulo-principal {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: arial;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 10px;
  margin-top: 5px;
  text-align: center;
  font-family: arial;
}

.price {
  color: #183F3C;
  font-size: 18px;
}

.img-do-card {
  width: 100%;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  background-color: #333;
}

footer {
  background-color: #183F3C;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
}

.rodape li {
  display: inline;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.rodape_info a {
  text-decoration: none;
  color: #fff;
}

.rodape_info a:hover {
  color: #F98049;
}

.direitosreservados {
  margin: 0;
}

.formas-pagamento {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;

}

.logo-pagamento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: auto;
}

.formas {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}

.icons-bandeiras {
  width: 50px;
  height: auto;
  padding-left: 5px;
}